* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, 1110px);

  margin-inline: auto;
}
.container--sm {
  width: min(100% - 40px, 540px);

  margin-inline: auto;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.header {
  min-height: 700px;
  padding-top: 69px;

  background-color: #eeeff1;
}

.navbar {
  margin-bottom: 134px;
}
.navbar__main {
  display: none;

  padding: 10px;
  padding: 3vh;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;

  font-weight: 500;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-left: -10px;

  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}
.navbar__link {
  display: block;

  padding: 10px;

  -webkit-transition: scale 0.1s;
          transition: scale 0.1s;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}
.navbar__link--active,
.navbar__link:hover {
  color: #34547a;

  scale: 1.1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 540px;
}
.content__title {
  margin-top: 16px;

  font-size: 3rem;
  font-weight: 500;
}
.content__description {
  margin-top: 10px;
  margin-bottom: 58px;

  color: #727272;

  line-height: 1.64;
}
.content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-width: 225px;
  min-height: 65px;
  margin-bottom: 2rem;
  padding: 0.5rem;

  text-decoration: none;
  letter-spacing: 0.1em;

  color: #ffffff;
  background-color: #34547a;
}
.about {
  min-height: 359px;
  padding-top: 113px;

  background-color: #f9f9f9;
}
.about__title {
  text-align: center;

  font-size: 2rem;
  font-weight: 500;
}
.about__description {
  margin-top: 37px;

  text-align: center;

  color: #727272;

  line-height: 1.64;
}
.experience {
  padding: 96.9px 0;

  color: #ffffff;
  background-color: #34547a;
}
.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 0 11px;

  gap: 52px;
}

.experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 18px;
}
.experience-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 5px;
}
.experience-item__number {
  padding-top: 4px;

  font-size: 21px;
  font-weight: 500;
}
.experience-item__text {
  font-size: 16px;
}
.experience-item__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;

  padding-top: 2px;
}
.process {
  min-height: 304px;
  padding-top: 100px;

  background-color: #f9f9f9;
}
.process__title {
  text-align: center;

  font-size: 2rem;
  font-weight: 500;
}
.process__description {
  margin-top: 40px;

  text-align: center;

  color: #727272;

  line-height: 1.64;
}
.video {
  padding-bottom: 100px;

  background-color: #f9f9f9;
}
.video__iframe {
  width: 100%;
  height: 600px;

  border: 0;
}
.footer {
  padding: 50px 0;

  color: #ffffff;
  background-color: #34547a;
}
.footer__name {
  margin-bottom: 7px;

  font-size: 21px;
  font-weight: 500;
}
.footer__copyright {
  font-size: 13px;
}
@media (max-width: 768px) {
  .header {
    padding-top: 50px;
  }
  .navbar__list {
    display: block;
  }
  .navbar__link {
    padding: 3vh;

    text-align: center;
  }
  .navbar__link--active,
  .navbar__link:hover {
    font-weight: 500;

    scale: 1;
  }
  .navbar__item {
    border-bottom: 1px solid #34547a;
  }
  .navbar__item:last-child {
    border-bottom: none;
  }
  .content {
    text-align: center;

    margin-inline: auto;
  }
  .content__title,
  .content__link {
    text-align: center;

    margin-inline: auto;
  }
  .about {
    padding-bottom: 100px;
  }
  .experience {
    padding: 50px 0;
  }
  .process {
    padding-bottom: 100px;
  }
  .video__iframe {
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) * 0.5625);
  }
  .footer__name,
  .footer__copyright {
    text-align: center;

    margin-inline: auto;
  }
}
