@import "__variables.scss";
@import "__mixin.scss";

.experience {
  color: $color-white;
  background-color: $color-primary;
  padding: 96.9px 0;

  &__container {
    padding: 0 11px;
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.experience-item {
  display: flex;
  gap: 18px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__number {
    padding-top: 4px;
    font-size: 21px;
    font-weight: 500;
  }

  &__text {
    font-size: 16px;
  }

  &__image {
    padding-top: 2px;
    order: -1;
  }
}

@media (max-width: 768px) {
  .experience {
    padding: 50px 0;
  }
}