@import "__variables.scss";
@import "__mixin.scss";

* {
  @include default;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: normal;
  line-height: $line-height-normal;
}

a {
  text-decoration: none;
}

.container {
  @include container($container-secondary, $container-primary);

  &--sm {
    @include container($container-secondary, $container-sm);
  }
}